@import 'base.css';
*{
    box-sizing: border-box;
}



.main__heading{
    font-size: 128px;
    font-weight: 700;
    line-height: 154.91px;
}
.main__sub-heading{
    font-size: 40px;
    font-weight: 400;
    
    

}
.menu path{
    fill: var(--secondary_color);
}
.close path{
    fill: var(--secondary_color);
}
@media(max-width:800px)
{
    .main__heading{
        font-size: 46px;
        line-height: 70px;
    }
    .main__sub-heading{
        font-size: 20px;

    }
  
}


